.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.vs/

# Local History for Visual Studio Code
.history/

/imgui/examples

/build
/out
examples/*.exe
/log.txt

# si4
*.si4project/